@charset "UTF-8";
/* colores */
:root {
  --yellow: #ffd100;
  --yellow-d: #bf9c00;
  --yellow-cl: #f5e8ae;
  --blue: #002060;
  --blue-sd: #192042;
  --gray: #f3efef;
  --green: #118744;
  --green-d: #107e40;
  --blue-l: #1367b1;
  --black: #323232;
  --purple: #402175;
  --blue-cl: #b9cef8;
  --orange-d: #ad5711;
  --bor-ra-g: 10px;
  --bor-ra-gX2: calc(var(--bor-ra-g) * 2);
  --sizeFont: 1.0625rem;
  --sizeFontX2: calc(var(--sizeFont) * 2);
  --sizeG: 0.875rem;
  --sizeGX2: calc(var(--sizeG) * 2);
  --sizeGD2: calc(var(--sizeG) / 2);
  --px22: 1.375rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px16: 1rem;
  --px6: 0.375em;
}

@font-face {
  font-family: "franklin";
  font-style: normal;
  font-weight: normal;
  src: url("/fuentes/FranklinGothic-Light.woff") format("woff");
}
@font-face {
  font-family: "helveticaBold";
  font-style: normal;
  src: url("/fuentes/Helvetica-Bold.woff") format("woff");
}
body {
  font-family: "helvetica";
  margin: 0px;
  padding: 0px;
  background-color: #f3efef;
  font-size: 1.0625em;
}

*:focus {
  border: none;
  outline-style: none;
  outline-color: none;
  outline: 2px solid var(--yellow);
  outline-offset: 0px;
}

h1 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h1 span {
  font-weight: normal;
}

h2 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h2 span {
  font-weight: normal;
}

h3 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h3 span {
  font-weight: normal;
}

h4 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h4 span {
  font-weight: normal;
}

h5 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h5 span {
  font-weight: normal;
}

h6 {
  font-family: "helvetica";
  font-weight: bolder;
  color: #192042;
}
h6 span {
  font-weight: normal;
}

button {
  cursor: pointer;
  font-size: 1.0625em;
}

.img-100 img {
  width: 100%;
}

main p {
  line-height: var(--sizeFontX2);
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav button {
  padding: 0px;
}

aside {
  width: 80%;
  margin: auto;
  justify-content: space-between;
  font-weight: bold;
  padding: var(--sizeG) 0px;
  color: var(--blue);
}
aside a {
  color: var(--blue-l);
}
aside a:hover, aside a:focus {
  transform: scale(1.05);
  transition: all 0.2s;
}

footer {
  padding: var(--sizeG);
  background-color: white;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  text-align: center;
  font-size: var(--px16);
}
footer span {
  display: block;
}

.back-img1 {
  background-image: url(../imagenes/tejido.png);
  background-repeat: no-repeat;
}

.bac-img2 {
  background-image: url(../imagenes/onda.png);
  background-repeat: no-repeat;
}

.bac-bc-y {
  background-color: var(--yellow);
}

.bac-bs-c {
  background-size: cover;
}

.bac-ba-f {
  background-attachment: fixed;
}

.bac-bcc-bw {
  background-color: var(--blue);
  color: white;
}

.bac-bcc-bsdw {
  background-color: var(--blue);
  color: white;
}

.bac-c-t {
  background-color: transparent;
}

.bac-ycl {
  background-color: var(--yellow-cl);
}

.tex-a-c {
  text-align: center;
}

.tex-a-r,
.tex-a-r-480 {
  text-align: right;
}

.fon-s-22 {
  font-size: var(--px22);
}

.fon-s-18 {
  font-size: var(--px18);
}

.fon-s-20 {
  font-size: var(--px20);
}

.fon-w-b {
  font-weight: bold;
}

.lin-h-g {
  line-height: var(--sizeFontX2);
}

.col-bsd {
  color: var(--blue-sd);
}

.col-p,
.col-p svg {
  color: var(--purple);
  fill: var(--purple);
}

.col-grnd,
.col-grnd svg {
  color: var(--green-d);
  fill: var(--green-d);
}

.col-bd {
  color: var(--blue-d);
}

.font-w-b {
  font-weight: bolder;
}

.bor-col-y {
  border: 1px solid var(--yellow);
}

.bor-col-y-2 {
  border: 2px solid var(--yellow);
}

.bor-r-100 {
  border-radius: 100%;
}

.bor-r-20px {
  border-radius: 20px;
}

.bor-h {
  border: hidden;
}

.bor-b-c-bl-4 {
  border-bottom: 4px solid var(--blue-l);
}

.dis-f {
  display: flex;
}

.dis-g {
  display: grid;
}

.dis-g-a {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: var(--sizeG);
}

.dis-g-2,
.dis-g-2-680 {
  display: grid;
  grid-template-columns: 48% 48%;
  row-gap: 2%;
  column-gap: 4%;
}

.dis-t {
  display: table;
}

.dis-g-10-10-a {
  display: grid;
  grid-template-columns: 200px 200px 100%;
}

.dis-g-200-a,
.dis-g-200-a-480 {
  display: grid;
  grid-template-columns: 200px auto;
  column-gap: var(--sizeG);
}

.dis-g-2-gp,
.dis-g-2-gp-680,
.dis-g-2-gp-480-f {
  display: grid;
  grid-template-columns: auto 48%;
  column-gap: var(--sizeGD2);
}

.dis-g-3-3-3-gp,
.dis-g-3-3-3-gp-480,
.dis-g-3-3-3-gp-680 {
  display: grid;
  grid-template-columns: 33% auto 350px;
  column-gap: 1%;
}

.dis-g-200-a-8-980 {
  display: grid;
  grid-template-columns: auto 80%;
  column-gap: 2%;
}

.dis-g-a-a-a-gp-680 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2%;
}

.mar-a {
  margin: auto;
}

.mar-l {
  margin-left: var(--sizeG);
}

.mar-r {
  margin-right: var(--sizeG);
}

.mar-b-0 {
  margin-bottom: 0px;
}

.mar-b-20px {
  margin-bottom: 20px;
}

.mar-b-10px {
  margin-bottom: 10px;
}

.marPad-0,
.padmar-0 {
  margin: 0px;
  padding: 0px;
}

.pad-x-6px {
  padding: 0px var(--px6);
}

.mar-l-3C,
.mar-l-3C-580 {
  margin-left: calc(3.4 * 10%);
}

.mar-y,
.mar-y-g {
  margin: var(--sizeG) 0px;
}

.mar-y-gX2 {
  margin: var(--sizeGX2) 0px;
}

.pad,
.pad-g {
  padding: var(--sizeG);
}

.pad-g-l-gX2 {
  padding: var(--sizeG) var(--sizeG) var(--sizeG) var(--sizeGX2);
}

.pad-gX2 {
  padding: var(--sizeGX2);
}

.wid-80,
.wid-80-680,
.wid-80-680-100 {
  width: 80%;
}

.wid-90w {
  width: 90vw;
}

.wid-90 {
  width: 90%;
}

.wid-95w {
  width: 95vw;
}

.wid-93w {
  width: 93vw;
}

.wid-94w {
  width: 94vw;
}

.wid-70,
.wid-70-980 {
  width: 70%;
}

.wid-60 {
  width: 60%;
}

.wid-60-580 {
  margin: auto;
  width: 95%;
}

.hei-m-100h {
  min-height: 100vh;
}

.hei-m-65h {
  min-height: 62vh;
}

.img-w-100 img {
  width: 100%;
}

.link-btn-bac-bl,
.btn-bac-bl,
.btn-bac-od,
.btn-bac-grnd {
  color: white;
  border-radius: var(--bor-ra-gX2);
  padding: var(--sizeGD2) var(--sizeG);
  text-decoration: none;
  margin: auto;
}
.link-btn-bac-bl svg,
.btn-bac-bl svg,
.btn-bac-od svg,
.btn-bac-grnd svg {
  fill: white;
}

.btn-bac-bl,
.link-btn-bac-bl {
  background-color: var(--blue-l);
}

.btn-bac-grnd {
  background-color: var(--green-d);
}

.btn-bac-od {
  background-color: var(--orange-d);
}

.btn-int {
  background-color: transparent;
  color: var(--blue-l);
  border: hidden;
  transform: scale(1);
  transition: all 0.2s;
}

.btn-int:hover, .btn-int:focus {
  transform: scale(1.1);
  transition: all 0.2s;
}

.icon-menu-retra {
  background-image: url(../imagenes/menu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

.icon-quest {
  background-image: url(../imagenes/quest.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

.jus-i-c {
  justify-items: center;
}

.ali-i-c {
  align-items: center;
}

.ali-s-c {
  align-self: center;
}

.jus-c-sb {
  justify-content: space-between;
}

.jus-s-e {
  justify-self: end;
}

.lis-s-n {
  list-style: none;
}

/* colores */
:root {
  --yellow: #ffd100;
  --yellow-d: #bf9c00;
  --yellow-cl: #f5e8ae;
  --blue: #002060;
  --blue-sd: #192042;
  --gray: #f3efef;
  --green: #118744;
  --green-d: #107e40;
  --blue-l: #1367b1;
  --black: #323232;
  --purple: #402175;
  --blue-cl: #b9cef8;
  --orange-d: #ad5711;
  --bor-ra-g: 10px;
  --bor-ra-gX2: calc(var(--bor-ra-g) * 2);
  --sizeFont: 1.0625rem;
  --sizeFontX2: calc(var(--sizeFont) * 2);
  --sizeG: 0.875rem;
  --sizeGX2: calc(var(--sizeG) * 2);
  --sizeGD2: calc(var(--sizeG) / 2);
  --px22: 1.375rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px16: 1rem;
  --px6: 0.375em;
}

.aviso-tejiendo {
  margin-top: -60px;
  height: 64px;
  width: 397px;
  text-align: center;
  display: grid;
  align-content: center;
  margin: auto;
}

.banderin {
  color: var(--blue-sd);
  font-size: 1.2em;
  bottom: 20px;
  left: auto;
  right: -60px;
  border: 25px solid var(--yellow);
  border-right-color: var(--yellow);
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.banderin a {
  text-decoration: none;
  font-weight: bolder;
  position: absolute;
  margin-top: -10px;
  font-family: "franklin";
  font-family: "helveticaBold";
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
.banderin a::before {
  content: url(../imagenes/book.png)/"ícono: libro";
}
.banderin a:focus, .banderin a:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

*[class*=cloud-] {
  border-radius: 10px;
  padding: var(--sizeGD2) var(--sizeG);
}
*[class*=cloud-]::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 20px solid var(--blue);
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  transform: rotate(45deg);
  margin-left: -30px;
  margin-top: -12px;
}

.cloud-bac-c-b {
  background-color: var(--blue);
  color: white;
}

.video iframe {
  width: 100%;
  height: 50vh;
  border: hidden;
  border-radius: 10px 10px 0px 0px;
}
.video a {
  padding: var(--sizeG);
  display: block;
  color: var(--black);
}
.video a::before {
  content: url("../imagenes/doc.png");
  width: 12px;
  height: 16px;
}

.tarjeta,
.tarjeta-pad-0 {
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);
}

.escala1 {
  animation-name: escala1;
  animation-duration: 1s;
}

.lis-sty-n ul {
  list-style: none;
}

.tarjeta {
  padding: var(--sizeG);
}

@keyframes escala1 {
  from {
    transform: scale(0.95);
    opacity: 0.8;
    margin-top: 40px;
  }
  to {
    transform: scale(1);
    opacity: 1;
    margin-top: 0px;
  }
}
.notify {
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);
  padding: var(--sizeG);
  position: absolute;
}

.modal-menu {
  display: block;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  padding: var(--sizeGX2);
  height: 100vh;
  z-index: 1;
}
.modal-menu li {
  margin: var(--sizeG) 0px;
}
.modal-menu a {
  color: var(--blue-l);
}
.modal-menu .close {
  background-color: transparent;
  border: hidden;
}
.modal-menu .close::after {
  content: "X";
  position: absolute;
  margin-left: 40%;
  color: var(--blue-d);
}

.dejados .deja {
  border: 1px dashed var(--blue);
  height: 25px;
  padding: var(--sizeGD2);
  width: 100%;
  line-height: 0.5em;
}

.arrastra {
  display: table;
  min-width: 9em;
  cursor: grab;
  background-color: white;
  padding: var(--sizeGD2);
  margin: 0.5em 0px;
  box-shadow: 2px 2px 4px rgba(92, 92, 92, 0.541);
}
.arrastra:active {
  cursor: grabbing;
}

.validar {
  color: var(--purple);
  background-color: transparent;
  border: hidden;
}
.validar img {
  margin-right: var(--sizeGD2);
}

.oscuro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #1920427c;
  text-align: left;
  display: grid;
}

.iluminado {
  align-self: center;
  justify-self: center;
  background-color: white;
  border-radius: var(--sizeG);
  padding: var(--sizeG);
}

.listado {
  position: absolute;
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.listado li {
  padding: 5px 10px;
  cursor: pointer;
}
.listado li:hover {
  background-color: var(--yellow-cl);
}

.interrogativo,
.pensamiento {
  background-repeat: no-repeat;
  padding-left: 35px;
}

.interrogativo {
  background-image: url(../imagenes/interrogative.png);
}

.pensamiento {
  background-image: url(../imagenes/idea.png);
}

.table .th {
  display: grid;
  grid-template-columns: 30% 12% 12% 12% 30%;
  background-color: var(--blue-cl);
  text-align: center;
  color: var(--blue-d);
  font-weight: bolder;
}
.table .td:nth-child(odd) {
  background-color: var(--gray);
}
.table .td div {
  display: grid;
  grid-template-columns: 30% 12% 12% 12% 30%;
}
.table span {
  padding: 5px;
  display: inline-block;
  width: auto;
}
.table span:not(:last-child) {
  border-right: 2px solid white;
}

.linea-tiempo {
  border-left: 8px solid var(--blue);
  padding-left: var(--sizeGX2);
}
.linea-tiempo p::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--blue);
  border: 5px solid var(--blue-l);
  position: absolute;
  border-radius: 100%;
  margin-left: -53px;
  margin-top: 10px;
}

.opa-0 {
  opacity: 0;
}

.all-dis-b img {
  display: block;
}

.all-li-mar-y li,
.all-btn-mar-y button {
  margin: var(--sizeG) 0px;
}

.all-div-dis-ib div {
  display: inline-block;
}

.all-div-w-250px div {
  width: 250px;
}

.all-btn-wid-25 div,
.all-btn-wid-25-800-48 div {
  width: 25%;
}

.all-btn-dis-ib button {
  display: inline-block;
}

@media only screen and (max-width: 1366px) {
  .hei-m-65h {
    min-height: 65vh;
  }
}
@media only screen and (max-width: 980px) {
  aside {
    width: 90%;
  }

  footer {
    grid-template-columns: 48% 48%;
    column-gap: 1%;
    row-gap: var(--sizeG);
  }

  .dis-g-3-3-3-gp-480,
.dis-g-3-3-3-gp-680 {
    display: grid;
    grid-template-columns: auto auto 350px;
    column-gap: 1%;
  }

  .dis-g-200-a-8-980 {
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--sizeG);
  }

  .wid-70-980 {
    width: 100%;
  }
}
@media only screen and (max-width: 880px) {
  .all-btn-wid-25-800-48 div {
    width: 48%;
  }

  .arrastra {
    width: 80%;
  }
}
@media only screen and (max-width: 680px) and (max-width: 680px) {
  .wid-80-680-100,
.wid-80-680 {
    width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  .dis-g-3-3-3-gp-680 {
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--sizeG);
    column-gap: 1%;
  }
}
@media only screen and (max-width: 680px) {
  .dis-g-2-680 {
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--sizeGX2);
  }
}
@media only screen and (max-width: 680px) {
  .tex-680-a-c {
    text-align: center;
  }
}
@media only screen and (max-width: 680px) {
  .jus-680-c-sb {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 580px) {
  footer {
    width: auto;
    grid-template-columns: 100%;
    column-gap: 0%;
    row-gap: var(--sizeG);
  }

  .mar-l-3C-580 {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 480px) {
  .notify {
    position: inherit;
  }

  .dis-g-200-a-480 {
    display: block;
  }

  .dis-g-2-gp-480-f {
    display: flex;
  }

  .dis-g-3-3-3-gp-480 {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%;
  }

  .tex-a-480-c {
    text-align: center;
  }

  .tex-a-r-480 {
    text-align: inherit;
  }
}

/*# sourceMappingURL=general.css.map */
