.btnSlider button {
  border: var(--yellow) 2px solid;
  padding: 0px 6px;
  border-radius: 100%;
}

.slider div {
  display: none;
}

.slider div:nth-child(1) {
  display: block;
}

/*# sourceMappingURL=slider.css.map */
