.bor-col-y {
  border: 1px solid var(--yellow);
}
.bor-col-y-2 {
  border: 2px solid var(--yellow);
}
.bor-r-100 {
  border-radius: 100%;
}
.bor-r-20px {
  border-radius: 20px;
}
.bor-h {
  border: hidden;
}
.bor-b-c-bl-4 {
  border-bottom: 4px solid var(--blue-l);
}
