.link-btn-bac-bl,
.btn-bac-bl,
.btn-bac-od,
.btn-bac-grnd {
  color: white;
  svg {
    fill: white;
  }
  border-radius: var(--bor-ra-gX2);
  padding: var(--sizeGD2) var(--sizeG);
  text-decoration: none;
  margin: auto;
}
.btn-bac-bl,
.link-btn-bac-bl {
  background-color: var(--blue-l);
}
.btn-bac-grnd {
  background-color: var(--green-d);
}
.btn-bac-od {
  background-color: var(--orange-d);
}
.btn-int {
  background-color: transparent;
  color: var(--blue-l);
  border: hidden;
  transform: scale(1);
  transition: all 0.2s;
}
.btn-int:hover,.btn-int:focus {
  transform: scale(1.1);
  transition: all 0.2s;
}
.icon-menu-retra{
  background-image: url(../imagenes/menu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}
.icon-quest{
  background-image: url(../imagenes/quest.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}
