@import "variables";
.aviso-tejiendo {
  margin-top: -60px;
  height: 64px;
  width: 397px;
  text-align: center;
  display: grid;
  align-content: center;
  margin: auto;
}
.banderin {
  color: var(--blue-sd);
  font-size: 1.2em;
  bottom: 20px;
  left: auto;
  right: -60px;
  border: 25px solid var(--yellow);
  border-right-color: var(--yellow);
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;

  a {
    text-decoration: none;
    font-weight: bolder;
    position: absolute;
    margin-top: -10px;
    font-family: "franklin";
    font-family: $fuenteTitulo2;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    &::before {
      content: url(../imagenes/book.png) / "ícono: libro";
    }
    &:focus,&:hover{
      transform: scale(1.05);
      transition: all 0.2s;
    }
  }
}
*[class*="cloud-"]{
 border-radius: 10px;
 padding: var(--sizeGD2) var(--sizeG);
 &::after{
   content: "";
   position: absolute;
   width: 0px;
   height: 0px;
   border-right: 20px solid var(--blue);
   border-bottom: 25px solid transparent;
   border-left: 25px solid transparent;
   transform: rotate(45deg);
   margin-left: -30px;
   margin-top: -12px;
 }
}
.cloud-bac-c-b{
  background-color: var(--blue);
  color: white;
}
.video {
  iframe {
    width: 100%;
    height: 50vh;
    border: hidden;
    border-radius: 10px 10px 0px 0px;
  }
  a {
    padding: var(--sizeG);
    display: block;
    color: var(--black);
    &::before {
      content: url("../imagenes/doc.png");
      width: 12px;
      height: 16px;
    }
  }
}
.tarjeta,
.tarjeta-pad-0 {
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);


}
.escala1{
  animation-name: escala1;
  animation-duration: 1s;
}
.lis-sty-n ul{
 list-style: none;
}
.tarjeta {
  padding: var(--sizeG);
}
@keyframes escala1 {
  from {transform: scale(0.95); opacity: 0.8; margin-top: 40px;}
  to {transform: scale(1); opacity: 1; margin-top: 0px;}
}
.notify {
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);
  padding: var(--sizeG);
  position: absolute;
}
.modal-menu {
  display: block;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  padding: var(--sizeGX2);
  height: 100vh;
  z-index: 1;
  li {
    margin: var(--sizeG) 0px;
  }
  a {
    color: var(--blue-l);
  }
  .close {
    background-color: transparent;
    border: hidden;
    &::after {
      content: "X";
      position: absolute;
      margin-left: 40%;
      color: var(--blue-d);
    }
  }
}
.dejados .deja {
  border: 1px dashed var(--blue);
  height: 25px;
  padding: var(--sizeGD2);
  width: 100%;
  line-height: 0.5em;
}
.arrastra {
  display: table;
  min-width: 9em;
  cursor: grab;
  background-color: white;
  padding: var(--sizeGD2);
  margin: 0.5em 0px;
  box-shadow: 2px 2px 4px rgba(92, 92, 92, 0.541);
  &:active {
    cursor: grabbing;
  }
}
.validar {
  color: var(--purple);
  background-color: transparent;
  border: hidden;
  img {
    margin-right: var(--sizeGD2);
  }
}
.oscuro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #1920427c;
  text-align: left;
  display: grid;
}
.iluminado {
  align-self: center;
  justify-self: center;
  background-color: white;
  border-radius: var(--sizeG);
  padding: var(--sizeG);
}
.listado {
  position: absolute;
  box-shadow: 0px 3px 6px rgba(85, 84, 84, 0.501);
  background-color: white;
  border-radius: var(--bor-ra-g);
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--yellow-cl);
    }
  }
}
.interrogativo,
.pensamiento {
  background-repeat: no-repeat;
  padding-left: 35px;
}
.interrogativo {
  background-image: url(../imagenes/interrogative.png);
}
.pensamiento {
  background-image: url(../imagenes/idea.png);
}
.table {
  .th {
    display: grid;
    grid-template-columns: 30% 12% 12% 12% 30%;
    background-color: var(--blue-cl);
    text-align: center;
    color: var(--blue-d);
    font-weight: bolder;
  }
  .td {
    &:nth-child(odd) {
      background-color: var(--gray);
    }
    div {
      display: grid;
      grid-template-columns: 30% 12% 12% 12% 30%;
    }
  }
  span {
    padding: 5px;
    display: inline-block;
    width: auto;
    &:not(:last-child) {
      border-right: 2px solid white;
    }
  }
}
.linea-tiempo{
  border-left:  8px solid var(--blue);
  padding-left: var(--sizeGX2);
  p::before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--blue);
    border: 5px solid var(--blue-l);
    position: absolute;
    border-radius: 100%;
    margin-left: -$sizeGX3;
    margin-top: 10px;
  }
}
.opa-0{
  opacity: 0;
}
