.wid-80,
.wid-80-680,
.wid-80-680-100 {
  width: 80%;
}
.wid-90w {
  width: 90vw;
}
.wid-90 {
  width: 90%;
}
.wid-95w {
  width: 95vw;
}
.wid-93w {
  width: 93vw;
}
.wid-94w {
  width: 94vw;
}

.wid-70,
.wid-70-980 {
  width: 70%;
}
.wid-60 {
  width: 60%;
}
.wid-60-580 {
  margin: auto;
  width: 95%;
}
.hei-m-100h {
  min-height: 100vh;
}
.hei-m-65h {
  min-height: 62vh;
}
.img-w-100 img {
  width: 100%;
}
