.dis-f {
  display: flex;
}
.dis-g {
  display: grid;
}
.dis-g-a {
  @include display("grid", "auto auto", "", var(--sizeG));
}
.dis-g-2,
.dis-g-2-680 {
  @include display("grid", "48% 48%", "2%", "4%");
}
.dis-t {
  display: table;
}
.dis-g-10-10-a {
  display: grid;
  grid-template-columns: 200px 200px 100%;
}
.dis-g-200-a,
.dis-g-200-a-480 {
  @include display("grid", "200px auto", "", var(--sizeG));
}
.dis-g-2-gp,
.dis-g-2-gp-680,
.dis-g-2-gp-480-f {
  @include display("grid", "auto 48%", "", var(--sizeGD2));
}
.dis-g-3-3-3-gp,
.dis-g-3-3-3-gp-480,
.dis-g-3-3-3-gp-680 {
  @include display("grid", "33% auto 350px", "", "1%");
}
.dis-g-200-a-8-980 {
  @include display("grid", "auto 80%", "", "2%");
}
.dis-g-a-a-a-gp-680 {
  @include display("grid", "auto auto auto", "", "2%");
}
