@import "funciones";
.notify {
  position: inherit;
}
.dis-g-200-a-480 {
  @include display("block", "", "");
}
.dis-g-2-gp-480-f {
  @include display("flex");
}
.dis-g-3-3-3-gp-480 {
  @include display("grid", "100%", "", "1%");
}
.tex-a-480-c {
  text-align: center;
}
.tex-a-r-480 {
  text-align: inherit;
}
