.back-img1 {
  background-image: url(../imagenes/tejido.png);
  background-repeat: no-repeat;
}
.bac-img2 {
  background-image: url(../imagenes/onda.png);
  background-repeat: no-repeat;
}
.bac-bc-y {
  background-color: var(--yellow);
}
.bac-bs-c {
  background-size: cover;
}
.bac-ba-f {
  background-attachment: fixed;
}
.bac-bcc-bw {
  background-color: var(--blue);
  color: white;
}
.bac-bcc-bsdw {
  background-color: var(--blue);
  color: white;
}
.bac-c-t {
  background-color: transparent;
}
.bac-ycl{
  background-color: var(--yellow-cl);
}