.mar-a {
  margin: auto;
}
.mar-l {
  margin-left: var(--sizeG);
}
.mar-r {
  margin-right: var(--sizeG);
}
.mar-b-0 {
  margin-bottom: 0px;
}
.mar-b-20px {
  margin-bottom: 20px;
}
.mar-b-10px {
  margin-bottom: 10px;
}
.marPad-0,
.padmar-0 {
  margin: 0px;
  padding: 0px;
}
.pad-x-6px {
  padding: 0px var(--px6);
}
.mar-l-3C,
.mar-l-3C-580 {
  margin-left: calc(3.4 * 10%);
}
.mar-y,
.mar-y-g {
  margin: var(--sizeG) 0px;
}
.mar-y-gX2 {
  margin: var(--sizeGX2) 0px;
}
.pad,
.pad-g {
  padding: var(--sizeG);
}
.pad-g-l-gX2 {
  padding: var(--sizeG) var(--sizeG) var(--sizeG) var(--sizeGX2);
}
.pad-gX2 {
  padding: var(--sizeGX2);
}
