.tex-a-c {
  text-align: center;
}

.tex-a-r,
.tex-a-r-480 {
  text-align: right;
}
.fon-s-22 {
  font-size: var(--px22);
}
.fon-s-18 {
  font-size: var(--px18);
}
.fon-s-20 {
  font-size: var(--px20);
}
.fon-w-b {
  font-weight: bold;
}
.lin-h-g {
  line-height: var(--sizeFontX2);
}
.col-bsd {
  color: var(--blue-sd);
}
.col-p,
.col-p svg {
  color: var(--purple);
  fill: var(--purple);
}
.col-grnd,
.col-grnd svg {
  color: var(--green-d);
  fill: var(--green-d);
}
.col-bd {
  color: var(--blue-d);
}
.font-w-b {
  font-weight: bolder;
}
