.all-dis-b{
  img{
    display: block;
  }
}
.all-li-mar-y li,
.all-btn-mar-y button {
  margin: var(--sizeG) 0px;
}
.all-div-dis-ib div {
  display: inline-block;
}
.all-div-w-250px div{
  width: 250px;
}
.all-btn-wid-25,
.all-btn-wid-25-800-48 {
  div {
    width: 25%;
  }
}
.all-btn-dis-ib button{
 display: inline-block;
}
