$fuenteTitulo1: "franklin";
$fuenteTitulo2: "helveticaBold";
$fuenteTitulo1Url: "/fuentes/FranklinGothic-Light.woff";
$fuenteTitulo2Url: "/fuentes/Helvetica-Bold.woff";
$fuenteTitulo1Format: "woff";
$fuente1: "helvetica";
$fuente1Url: "/fuentes/Helvetica.woff";
$fuente1Format: "woff";
$sizeFont: 1.0625em;
$px16: 16px;
$px17: 17px;
$sizeG: 14px;
$sizeGX2: 28px;
$sizeGX3: 53px;
/* colores */
$gray: #f3efef;
$blue: #192042;
:root {
  --yellow: #ffd100;
  --yellow-d: #bf9c00;
  --yellow-cl: #f5e8ae;
  --blue: #002060;
  --blue-sd: #192042;
  --gray: #f3efef;
  --green: #118744;
  --green-d: #107e40;
  --blue-l: #1367b1;
  --black: #323232;
  --purple: #402175;
  --blue-cl: #b9cef8;
  --orange-d: #ad5711;
  --bor-ra-g: 10px;
  --bor-ra-gX2: calc(var(--bor-ra-g) * 2);
  --sizeFont: 1.0625rem;
  --sizeFontX2: calc(var(--sizeFont) * 2);
  --sizeG: 0.875rem;
  --sizeGX2: calc(var(--sizeG) * 2);
  --sizeGD2: calc(var(--sizeG) / 2);
  --px22: 1.375rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px16: 1rem;
  --px6: 0.375em;
}
