@import "variables";
@import "funciones";
@font-face {
  font-family: $fuenteTitulo1;
  font-style: normal;
  font-weight: normal;
  src: url($fuenteTitulo1Url) format($fuenteTitulo1Format);
}
@font-face {
  font-family: $fuenteTitulo2;
  font-style: normal;
  src: url($fuenteTitulo2Url) format($fuenteTitulo1Format);
}
body {
  font-family: $fuente1;
  margin: 0px;
  padding: 0px;
  background-color: $gray;
  font-size: $sizeFont;
}
*:focus {
  border: none;
  outline-style: none;
  outline-color: none;
  outline: 2px solid var(--yellow);
  outline-offset: 0px;
}
@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fuente1;
    font-weight: bolder;
    color: $blue;
    & span {
      font-weight: normal;
    }
  }
}
button {
  cursor: pointer;
  font-size: $sizeFont;
}
.img-100 img {
  width: 100%;
}
main p {
  line-height: var(--sizeFontX2);
}
nav {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  button {
    padding: 0px;
  }
}
aside {
  width: 80%;
  margin: auto;
  justify-content: space-between;
  font-weight: bold;
  padding: var(--sizeG) 0px;
  color: var(--blue);
  a {
    color: var(--blue-l);
  }
  a:hover,a:focus {
  transform: scale(1.05);
  transition: all 0.2s;
  }
}
footer {
  padding: var(--sizeG);
  background-color: white;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  text-align: center;
  font-size: var(--px16);
  span {
    display: block;
  }
}

@import "fondos";
@import "texto";
@import "bordes";
@import "display";
@import "margenes";
@import "dimensiones";
@import "botones";
@import "alineacion";
@import "listas";
@import "clases";
@import "todo";
@import "media-1366";
@import "media-980";
@import "media-880";
@import "media-680";
@import "media-580";
@import "media-480";
