<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="estilos/estilos.css">
<div id="container" class="blanco">
  <header>
    <nav class="nav-menu" id="menu principal"> <button aria-expanded="false" onclick="menu1()" class="men"
        aria-controls="menu2" aria-label="menú principal"></button>
      <ul class="menu-h" id="menu-h" onkeypress="menu2(event)">
        <li> <a role="menuitem" href="index.html" title="Ir a la diapositiva de inicio">Inicio</a> </li>
        <li> <a role="menuitem" href="1.html" title="Ir a la diapositiva para saber">Para saber</a> </li>
        <li> <a role="menuitem" href="10.html" title="Ir a la diapositiva hacer"
            aria-label="ir a la página para hacer">Para saber hacer</a> </li>
        <li> <a role="menuitem" href="19.html" title="Ir a la diapositiva para aplicar lo que sé">Para aplicar lo que
            sé</a> </li>
      </ul>
    </nav>
    <h1 class="titulo"><strong>Unidad <span>#</span> </strong><span>titulo</span></h1>
  </header>
  <section class="ancho-ochenta">
    <h2><strong>Para <span>saber</span>: </strong><span>subtitulo</span> </h2>
    <p class="parrafo-descriptivo" contenteditable="">parrafo descriptivo.</p>
    <p contenteditable="">Nuevo parrafo</p>
    <p contenteditable="">Nuevo parrafo</p>
  </section>
  <aside>
    <div class="avance">
      <h3 class="subtitulo2">Mi avance</h3><a href="1.html" title="Ir a la diapositiva 1" class="ant"> <img
          src="../../imagenes/flecha.png" alt=""></a><span>Página # de #</span><a href="3.html"
        title="Ir a la diapositiva 3" class="sig"> <img src="../../imagenes/flecha-der.png" alt=""></a>
    </div>
  </aside>
</div>
<script src="javascript/inicial.js"></script>